/* blackish : #101612 */
/* high-orange : #EDA176 */
/* off-white : #f7f7f7 */
/* mate-green : #8B996A */
/* deep-plum : #0C0B10 */
/* ruddy : #C74133 */

/* global styles */
body {
	position: relative;
	max-width: 100vw;
	overflow-x: hidden;
	background-color: #f7f7f7;
	font-size: 12pt;
	color: #0C0B10;
}
/* body.no-grow {
	height: 100vh !important;
	max-height: 100vh !important;
	min-height: 100vh !important;
	overflow: hidden;
} */
@media screen and (max-width:1000px) {
	body { font-size: 10pt; }
}
@media screen and (max-width:600px) {
	body { font-size: 8pt; }
}
body * {
	font-family: 'Montserrat', Helvetica, sans-serif;
}
body h1 {
	font-size: 4em;
	font-family: 'Lobster';
	text-align: left;
	margin-bottom: 0.5em;
}
h2 {
	font-size: 2em;
	margin-bottom: 0.5em;
}
h2.big { 
	font-size: 4em;
}
h2.small { 
	font-size: 2em;
}
h2.comments-title {
	display: none;
}
h3.comment-reply-title {
	font-family: 'Lobster';
	text-transform: lowercase;
}
p {
	max-width: 40em;
}

textarea[rows] {
	height: 50px;
}
input[type=submit] {
	background-color: #C67640;
}
input[type=submit]:hover {
	background-color: #955122;
}






article {
	max-width: 40em;
	margin: 0 auto;
}
h1 {
	text-align: center;
	margin-bottom: 0.75em;
}
li.category h2 {
	font-family: 'Lobster';
}

a {
	color: #0C0B10;
	font-family: inherit;
	transition: color .1s linear;
}
a:hover {
	color: #0C0B10;
	text-decoration: underline;
}
a:visited {
	color: #0C0B10;
}
li a:hover {
	text-decoration: none;
}
img {
	box-sizing: border-box;
	max-height: 100vh;
}
ul {
	margin: 0;
	list-style: none;
}

li.category a:hover {
	color: #EDA176;
	text-decoration: none;
}

.flex {
	display: flex;
}
.lobster {
	font-family: 'Lobster';
}

p.block {
	margin-bottom: 3em;
}
p.block:first-child {
	margin-top: 3em;
}
p.block:last-child {
	margin-bottom: 0;
}


/* layout */
div.off-canvas-content {
	position: relative;
}

header.header, footer.footer, main.main {
	padding: 0 2em;
}

main.main {
	margin-top: 5em;
}

/* main menu */

header.header {
	height: 5em;
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	background-color: #f7f7f7;
	color: #0C0B10;
	z-index: 10;
}
header.header a:first-child {
	padding-left: 0;
}
header.header ul#main-nav a:last-child {
	padding-right: 0;
}
@media screen and (max-width:1200px) {
	header.header ul#main-nav a:last-child {
		padding-right: 2em;
	}
}
header.header a::after {
	content: none;
}

/* header.header > div.container > div.top-bar */

div.top-bar {
	padding: 1em 0;
}
div.top-bar, .top-bar > ul, .top-bar > div > ul {
	background-color: transparent;
}
div.top-bar ul#main-nav {
	display: flex;
	flex-wrap: nowrap !important;
	justify-content: space-between;
}
div.top-bar ul#main-nav > li {
	position: relative;
	flex: 0 1 4em;
	text-align: center;
	transition: transform .2s ease-out;
}
div.top-bar ul#main-nav > li:first-child {
	text-align: left;
}
div.top-bar ul#main-nav > li:last-child {
	text-align: right;
}

div.top-bar ul#main-nav > li:not(.active):hover {
	transform: scale(1.1);
}
div.top-bar a:focus, div.top-bar li:not(.active) a:hover {
	text-decoration: none;
}
div.top-bar ul#main-nav li.active > a {
	background-color: transparent;
	color: #0C0B10;
	text-decoration: none;
	font-weight: bold;
}

/* replace menu cart link with icon */
/* header.header ul#main-nav li:last-child ul.submenu {
	position: relative;
	top: -100%;
	display: block;
}
header.header ul#main-nav li:last-child a::after {
	border-color: transparent;
}
header.header ul#main-nav li:last-child ul.submenu a {
	color: transparent;
}
header.header ul#main-nav li:last-child ul.submenu li:first-child::after {
	content: '\1F6D2';
	color: black;
} */

.is-dropdown-submenu, .top-bar ul {
	background-color: transparent;
	border: none;
	text-align: left;
}

@media screen and (max-width:600px) {
	header.header {
		padding-top: 0;
		padding-bottom: 0;
		text-align: center;
	}
}

header.header a.go-to-cart {
	position: fixed;
	right: 0;
	top: 0.25em;
	padding: 1em;
}
@media screen and (max-width: 1000px) {
	header.header a.go-to-cart {
		top: 0.5em;
	}
}
header.header a.go-to-cart img {
	height: 1.25em;
}

/* underline slide hover animation */

/* div.top-bar li::after {
	content: '';
	position: absolute;
	bottom: 0.25em;
	left: 0;
	height: 1px;
	margin: auto;
	width: 0;
	color: transparent;
	background: #aaa;
	transition: width .2s ease-out;
}
div.top-bar li:not(.active):hover::after {
	width: 100%;
} */


body.superhero header.header,
body.superhero footer.footer {
	position: relative;
	background-color: transparent;
}
body.superhero header.header::after {
	border-bottom-color: #f7f7f7;
}
body.superhero footer.footer > div {
	border-top: 1px solid #f7f7f7;
}
body.superhero header.header,
body.superhero footer.footer,
body.superhero footer.footer a:visited,
body.superhero header.header ul a:focus,
body.superhero header.header ul a {
	color: #f7f7f7 !important;
}

/* #top-bar-menu.light {
	background-color: transparent;
}
#top-bar-menu.light a {
	color: #f7f7f7;
}
#top-bar-menu.light::after {
	border-bottom-color: #f7f7f7;
}
#top-bar-menu.light .menu a:focus, #top-bar-menu.light .menu li:not(.active) a:hover {
	color: #f7f7f7;
} */
@media screen and (max-width:600px) {
	/* header.header {
		height:2em;
		padding: 0 2em;
	}
	main.main {
		margin-top: 2em;
	}
	#top-bar-menu {
		height:2em;
		padding: 0;
	}
	#top-bar-menu * {
		padding: 0;
	} */
}


/* main > * {
	max-width: calc(100% - 1rem);
} */

div.container {
	width: 100%;
	max-width: 60em;
	margin: 0 auto;
}
@media screen only and (min-width:600px) {
	div.container {
		padding: 0 3em;
	}
}

footer.footer {
	position: relative;
	background-color: #f7f7f7;
	z-index: 2;
	margin: 2em 0;
}

footer > div.container {
	padding-top: 1em;
}

div.footer-cell {
	padding-bottom: 1em;
}
div.footer-cell li:first-child {
	margin-bottom: 1em;
	font-weight: bold;
}

div.fade-to-black {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	background-image: linear-gradient(
		to bottom,
		rgba(0,0,0,0.3) 0%,
		rgba(0,0,0,1) 90vh
		);
}

img.down-bracket {
	width: 100%;
}
img.lockup-lg {
	max-height: calc(100vh - 10em);
}
img.wp-post-image {
	display: none;
}

div.off-canvas-wrapper {
	overflow: visible;
}

div.left, div.right {
	flex: 1 1 50%;
	min-height: calc(100vh - 6em);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* built in category link in shop page */
li.product-category {
	display: none;
}

ul.product-cats {
	padding-top: 1.5em;
}
li.left {
	width: 60%;
	margin-top: 0;
	margin-bottom: 0;
	cursor: pointer;
	text-align: right;
}
li.left a {
	display: block;
}
li.left > * {
	margin-bottom: 0;
}
div.right.dynamic {
	position: fixed;
	top: 5em;
	right: 5em;
	left: 50%;
	bottom: 5em;
	z-index: 1;
	opacity: 0;
	height: calc(100vh - 8.5em);
	min-height: calc(100vh - 8.5em);
	max-height: calc(100vh - 8.5em);
	overflow: hidden;
	font-size: 100% !important;
	transition: opacity .2s linear;
}

div.right.show {
	z-index: 0;
	opacity: 1;
}
li.left:hover div.right, li.left:active div.right {
	opacity: 1;
}
li.left:hover a, li.left a:active {
	color: white;
}

/* slide animation instead of fade */
/* li.left h2 {
	position: relative;
	z-index: 0;
}
li.left h2::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transform: translateX(-100%);
	background-color: #EDA176;
	transition: transform .3s ease-out;
	z-index: -1;
}
li.left:hover h2::after {
	transform: translateY(0);
} */

li.left h2, li.left h1 {
	position: relative;
	margin: 0;
	padding: 30px 20% 30px 0;
	z-index: 2;
}
li.left h2.big {
	padding: 10px 20% 10px 0;
}
li.left h2::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: -100vw;
	background-color: transparent;
	transition: .2s background-color linear;
	z-index: -1;
}
li.left:hover h2::after {
	background-color: #EDA176;
}

@media screen and (max-width:600px) {
	div.right.dynamic {
		left: 90%;
		right: 0;
	}
	li.left {
		width: 100%;
	}
	li.left h2, li.left h1 {
		padding: 20px 10% 20px 10px;
	}
}



/* @media screen and (max-width: 600px) {
	div.left { width: auto; }
	div.right { display: none; }
} */

div.hero {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;
	width: 100vw;
	height: 100vh;
	background-position: center;
	background-size: cover;
}

div.full-height-spacer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: calc(100vh - 5em);
	margin-top: -5em;
}
div.image-wrapper {
	flex: 0 0 auto;
	width: auto;
	padding-bottom: 2em;
}

main#posts {
	height: calc(100vh - 5em);
}
/* main#posts ul {
	overflow-y: scroll;
	overflow-x: visible;
} */

main#fourohfour {
	height: calc(100vh - 10em);
}

#home-lockup {
	background-position: left;
	background-size: auto;
}

table tbody {
	background-color: transparent;
	border: none;
}
table.variations td.label {
	display: none;
}
.single-product div.product.woobuilder .woobuilder-block form.cart span.woobuilder-select-wrap select {
	width: 75%;
}

/* woocommerce */

.woocommerce-notices-wrapper {
	width: 48%;
}
div.woocommerce-message {
	border-top-color: #8B996A;
}
div.woocommerce-message::before {
	color: #8B996A;
}
div.woocommerce-info {
	border-top-color: #EDA176;
}
div.woocommerce-info::before {
	color: #EDA176;
}
div.woocommerce-error {
	border-top-color: #C74133;
}
div.woocommerce-error::before {
	color: #C74133;
}

body main h2.woocommerce-loop-product__title {
	font-family: 'Montserrat', Helvetica, sans-serif ;
}

.single-product .product .single_add_to_cart_button.button.alt,
.woocommerce a.button.alt,
.woocommerce .product .add_to_cart_button.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt
{
	background-color: #EDA176 !important;
	color: #FFFFFF !important;
}

.single-product .product .single_add_to_cart_button.button.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce .product .add_to_cart_button.button.alt:hover
{
	background-color: #EDA176 !important;
	color: #FFFFFF !important;
}

.woocommerce a.button.alt:hover {
	background-color: #955122;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
	float: left;
}

div.wp-block-media-text .wp-block-media-text__content {
	padding: 0;
}
div.wp-block-media-text figure.wp-block-media-text__media {
	padding: 8% 8% 8% 0;
}
div.wp-block-media-text.has-media-on-the-right figure.wp-block-media-text__media {
	padding: 0 8% 8% 8%;
}
@media screen and (max-width: 600px) {
	div.wp-block-media-text {
		display: block;
	}
	div.wp-block-media-text {
		padding: 0;
	}
	div.wp-block-media-text figure.wp-block-media-text__media,
	div.wp-block-media-text.has-media-on-the-right figure.wp-block-media-text__media {
		padding: 8% 0 8% 0;
	}
}


ul.products a.add_to_cart_button {
	display: none !important;
}
/* span.price {
	color: #8B996A !important;
} */
div.product_meta {
	display: none;
}
article {
	max-width: 100%;
}
