
/* global styles */
body {
	/* background-color: #f7f7f7 !important; */
	color: #f7f7f7;
}
a {
	color: #f7f7f7;
	/* text-decoration: underline; */
}

.top-bar {
	padding: 1em 0;
	margin-bottom: 2em;
}
.top-bar, .top-bar > ul, .top-bar > div > ul {
	background-color: transparent;
}
.top-bar > div > ul {
	justify-content: space-between;
}

.menu a {
	transition: color .1s linear;
}
.menu a:focus, .menu a:hover {
	color: #34a562;
}
.menu .active > a {
	background-color: transparent;
	color: #34a562;
	font-weight: bold;
}

div.container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 1em;
}
@media screen only and (min-width:600px) {
	div.container {
		padding: 0 3em;
	}
}

div.hero {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;
	width: 100vw;
	height: 100vh;
	background-position: center;
	background-size: cover;
}

img.lockup-lg {
	max-height: calc(100vh - 10em);
}

#top-bar-menu {
	position: relative;
	color: black ;
	background-color: transparent;
}
#top-bar-menu a::after {
	content: none;
}
#top-bar-menu::after {
	content: '';
	position: absolute;
	display: block;
	left: 1rem;
	right: 1rem;
	bottom: 0;
	border-bottom: 1px solid #f7f7f7; 
}